
# editor/IDE settings
*.vscode

# output, test and data files
/data
/logs

# build files and other files
/target
.ant_targets
**/.DS_Store
*.class
*.jar
*.csv
*.pdf

# dotenv files
.env*

# others
TODO.txt


# not ignore specific files
!/envs/.env.development.local
